body{
  background-color: #c4be71;
}
.nav{
font-family: sans-serif;
position: fixed;
border-bottom: 5px solid black;
width: 99%;
display: block;
margin-top: -2.9%;
background-color: #c4be71;
margin-left: -1.5%;
}
img{
cursor: pointer;
margin-bottom: 10%;
}
#name{
  width: 300px;
  float: right;
  margin-top: 1.2%;
  font-size: 1.5em;
  border: none;
  margin-right: 0%;
}
* {
  box-sizing: border-box;
}
button{
  font-size: 1.5em;
  font-family: sans-serif;
  margin-top: -2.5%;
  text-align: center;
  border: none;
  margin-left: 20%;
  z-index: 99999;
}
.row{
  margin-left: 10%;
  display: block;
  margin-top: 10%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.profielfoto{
  width: 3%;
  height: auto;
  margin-left: 105%;
  margin-top: -7%;
  border: 1px solid black;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.tit{
  font-size: 2.8em;
  margin-left: 42%;
  margin-top: 10%;
}
.cati{
  font-size: 2em;
  margin-left: 80%;
  display: inline;
}
.prof{
font-size: 1.5em;
font-family: sans-serif;
margin-top: -2.5%;
text-align: center;
margin-left: -73%;
}
img:hover{
   box-shadow: 10px 10px 5px grey;
}
.dropdown{
  float: right;
  margin-top: 0.5%;
  font-size: 2em;
  border: none;
}
a {
  text-decoration: none;
}
.grid-container {
    display: grid;
    margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}



body {
  padding: 2em;
}

hr {
  margin: 80px;
}
@media screen and (max-width: 667px) {
.nav{
  margin-top: -11%;
}
.upload{
  margin-left: -70%;
  margin-top: -10%;
}
.tit{
  margin-left: 30%;
  margin-top: 10%;
}
.prof{
margin-top: 5%;
margin-left: -90%;
}
.zoek{
  margin-left: -5%;
  margin-top: 10%;
}
}
