.nav{
font-family: sans-serif;
position: fixed;
border-bottom: 5px solid black;
width: 99%;
}
.profielfoto{
  width: 3%;
  height: auto;
  margin-left: 105%;
  margin-top: -7%;
  border: 1px solid black;
}
.tit{
  font-size: 2.8em;
  margin-left: 42%;
}
.cati{
  font-size: 2em;
  margin-left: 80%;
  display: inline;
}
.prof{
font-size: 1.5em;
font-family: sans-serif;
margin-top: -2.5%;
text-align: center;
margin-left: -82%;
}
.dropdown{
  float: right;
  margin-top: 0.5%;
  font-size: 2em;
  border: none;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 600px){

  .nav{
  font-family: sans-serif;
  position: fixed;
  border-bottom: 5px solid black;
  width: 99%;
background-color: black;
  }
  .profielfoto{
    width: 3%;
    height: auto;
    margin-left: 105%;
    margin-top: -7%;
    border: 1px solid black;
  }
  .tit{
    font-size: 23.8em;
    margin-left: 42%;
  }
  .cati{
    font-size: 2em;
    margin-left: 80%;
    display: inline;
  }
  .prof{
  font-size: 1.5em;
  font-family: sans-serif;
  margin-top: -3%;
  text-align: center;
  }
  .dropdown{
    float: right;
    margin-top: 0%;
    font-size: 2em;
    border: none;
  }
  a {
    text-decoration: none;
  }

}
